@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@layer base {
  :root {
    --primary: #00a8b5;
    --secondary: #f5a623;
    --bg-light: #f8fafc;
    --bg-dark: #1c1c1d;
    --text-light: #1c1c1d;
    --text-dark: #e2e8f0;
    --success: #38a169;
    --warning: #d69e2e;
    --error: #e53e3e;
    --neutral: #cbd5e0;
    /* Font family variables */
    --poppins: "Poppins", Arial, Helvetica, sans-serif;
    --roboto: "Roboto", Verdana, Geneva, sans-serif;
  }
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-bg-light: var(--bg-light);
  --color-bg-dark: var(--bg-dark);
  --color-text-light: var(--text-light);
  --color-text-dark: var(--text-dark);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color: var(--neutral);

  --font-poppins: var(--poppins);
  --font-roboto: var(--roboto);
}
@custom-variant dark (&:where(.dark, .dark *));

/* Default font set  */
body {
  @apply font-roboto font-normal leading-[1.6] text-text-light;
}
/* Heading/title default font set  */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-poppins;
}
input,
textarea {
  @apply text-text-light dark:text-text-dark;
}
/* card title */
.sec-heading {
  @apply text-2xl md:text-3xl lg:text-4xl mb-0 font-bold text-primary;
}
.cat-title {
  @apply text-lg font-semibold mb-2;
}
/* Desk navbar css start  */
.desk-menu li a {
  @apply px-4 py-3 hover:text-primary;
}
.desk-menu li a.active {
  @apply text-primary;
}

/* Desk navbar css end  */
/* Button css start  */
.btn {
  @apply flex justify-center items-center cursor-pointer bg-primary hover:bg-secondary py-2 px-4  duration-300 ease-in-out text-white rounded-md;
}
.btn-green {
  @apply flex justify-center items-center cursor-pointer bg-success hover:bg-secondary py-2 px-4  duration-300 ease-in-out text-white rounded-md;
}
.btn-delete {
  @apply flex justify-center items-center cursor-pointer bg-error hover:bg-secondary py-2 px-4  duration-300 ease-in-out text-white rounded-md;
}
.btn-disable {
  @apply flex justify-center items-center cursor-not-allowed bg-neutral-400 py-2 px-4  duration-300 ease-in-out text-white rounded-md disabled:opacity-75;
}
/* Button css start  */

.container {
  @apply mx-auto px-4 lg:px-0;
}
/* Navbar css start  */
.desk-nav {
  @apply hidden lg:flex justify-between items-center;
}
.desk-nav nav ul {
  @apply flex items-center;
}
.desk-nav nav ul li a {
  @apply px-4 font-semibold text-lg  hover:text-primary duration-300;
}
.desk-nav nav ul li a.active {
  @apply text-primary;
}
.right-nav {
  @apply flex text-lg items-center gap-10 relative;
}
.right-nav .nav-icon {
  @apply flex gap-4 text-lg;
}
.right-nav .nav-icon a {
  @apply hover:text-primary duration-300;
}
.right-nav .user-icon,
.user-icon {
  @apply rounded-full border border-primary w-12 h-12;
}
.nav-user-container {
  @apply bg-white w-[300px] z-50 border border-primary rounded-lg p-4 space-y-4 absolute -right-[700px] opacity-100 top-16 duration-500;
}
.nav-user-container .user-info {
  @apply flex gap-2 items-center;
}
.nav-user-container .user-info h5 {
  @apply font-semibold;
}
.nav-user-container .user-info p {
  @apply text-text-light;
}
.nav-user-container.open {
  @apply right-0 duration-500 opacity-100;
}
.mbl-nav-wrap {
  @apply lg:hidden relative;
}
.mbl-nav-wrap .mbl-nav {
  @apply bg-primary/70 w-[300px] rounded-lg overflow-hidden absolute top-14 -left-[500px] duration-500;
}
.mbl-nav-wrap .mbl-nav ul li a {
  @apply py-4 w-full block p-4 md:p-4 text-sm;
}
.mbl-nav-wrap .mbl-nav ul li a.active {
  @apply bg-secondary text-white;
}
.mbl-nav-wrap .mbl-nav.open {
  @apply left-0;
}

/* Navbar css end  */

.frm-ctr {
  @apply w-full px-3 py-2 border border-primary/30 rounded-md  focus:outline-none text-text-light dark:text-text-dark;
}

.banner::before {
  @apply absolute top-0 left-0 w-full h-full bg-black/20 content-[''];
  z-index: -1;
}
.banner {
  z-index: 1;
}
.fix-height {
  @apply min-h-[calc(100vh-415px)] w-full;
}
.flex-center {
  @apply flex justify-center items-center w-full h-full;
}
.grp-col {
  @apply flex flex-col mb-5;
}
td,
th {
  @apply py-2 px-4;
}
